<div class="row">
    <div class="col-xs-6 col-xs-offset-3 vertical-center">
        <form>
            <div class="form-group">
                <label for="name">
                    Enter a word
                </label>
                <input class="form-control" id="name" ng-model="word" />
            </div>
            <div class="form-group">
                <button class="btn btn-success" ng-click="hello()">Greet!</button>
            </div>
        </form>
    </div>
</div>